.dropdown-button {
  box-sizing: border-box;
  border-radius: 50%;
  background: none;
  border: 1px solid grey;
  text-align: center;
  height: 32px;
  width: 32px;
}

.dropdown-button:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 288px;
  box-shadow: 0 8px 16px 0 #000000;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

/* Links inside the dropdown */
.dropdown-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
