.entirePlayer{
  display: flex;
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  min-width: 1080px;
  padding-bottom: 1%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: end;
  z-index: 1;
}

.entirePlayer button:not(#btnFileAttente){
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;

  font-size: 16px;
}

.entirePlayer img{
  width: 20px;
  height: 20px;
}

.entirePlayer button:hover{
  cursor: pointer;
}

.shareLove{
  width: 10%;
}
.listeningMode{
  display: flex;  
  flex-direction: row;
  align-items: baseline;
}
.listeningMode > button{
  margin: 3px;
}

progress[value] {
  -webkit-appearance: none;
}​

#btnFileAttente{
  height: 10%;
  width: 100%;

  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;

  font-size: 16px;
}

.fileAttente{
  display: none;
}

.volume .volume_slider{
  position: absolute;
  bottom: 150%;
  right: 14%;
  display: none;
}

.volume .volume_sliderTotale {
  background-color: white;
	border: 1px solid transparent;
	box-shadow: 0 2px 10px 0 rgba(25, 25, 34, .24);
	padding: 10px 15px;
	border-radius: 4px;
	display: none;
}

.active_volume .fileAttente.active_playlist {
  display: block;
}

input[type=range].volumeRange{
  -webkit-appearance: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: #069;
  opacity: .8;
  background: #ccc;
  box-sizing: border-box;
  transition: opacity .2s;
  cursor: pointer;
}

[type="range"]{
  width: 10em;
  height: 1em;
  font: inherit;

}
/*==============================*/
/* IE-Edge                      */
/*==============================*/
/* la zone de déplacement */
input[type=range].volumeRange::-ms-track {
  height: 100%;
  border: none;
  border-radius: 0;
  color: transparent;             /* supprime les graduations pour IE */
  background-color: transparent;  /* supprimé définie sur l'input */
  }
  /* le curseur */
  input[type=range].volumeRange::-ms-thumb {
    width: 1em;
    height: inherit;                /* s'adapte à la hauteur de l'input */
    border: none;                   /* supprimer la bordure */
    border-radius: 0;               /* supprimer le rayon */
    background: currentColor;
    box-sizing: border-box;         /* même modèle de boîte pour tous */
  }
  /* la tooltip de la valeur */
  input[type=range].volumeRange::-ms-tooltip {
    display: none;                  /* supprime l'affichage de la valeur au survol */
  }
  /* barre progression avant */
  input[type=range].volumeRange::-ms-fill-lower {
    background: transparent;
  }
  /* barre progression après */
  input[type=range].volumeRange::-ms-fill-upper {
    background: transparent;
  }

/*==============================*/
/* FireFox                      */
/*==============================*/
/* la zone de déplacement */
input[type=range].volumeRange::-moz-range-track {
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;  /* supprimé définie sur l'input */
  }
  /* le curseur */
  input[type=range].volumeRange::-moz-range-thumb {
    width: 1em;
    height: inherit;                /* s'adapte à la hauteur de l'input */
    border: none;                   /* supprimer la bordure */
    border-radius: 0;               /* supprimer le rayon */
    background: currentColor;
    box-sizing: border-box;         /* même modèle de boîte pour tous */
  }
  /* barre progression avant */
  input[type=range].volumeRange::-moz-range-progress {
    height: 0;
    background: transparent;        /* supprime barre progression avant */
  }
