:root {
	/*Couleur du cercle autour du play*/
	--animation-color: #07d6c9;
}

input:focus {
	outline: none;
}

h2{
	margin-top: 1.5em;
}
.music_container{
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.card{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.card-img-top{
	width: 100%;
}

.cover_image_container, .more_music{

	position: relative;
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
}

.cover_image_container:hover .cover_image_play_container{
	display: block;
}
.cover_image_div{
	margin: 5px;
}
.cover_image{
	width: 150px;
	height: 150px;
}
.cover_image_buttons{
	display: flex;
	flex-direction: row;
}
.dropdown_button_container{
	position: absolute;
	padding-left: 78px;
	bottom: 10px;
	right: 15px;
}
.dropdown_button{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border-color: transparent;
}
.cover_image_play_container{
	display: none;
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 50px;
}
.cover_image_play{
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 25px;
	height: 25px;
	z-index: 2;
}

.svg_circle{
	display: none;
	position: absolute;
	bottom: -23px;
	left: -23px;
	z-index: 0;
	height: 80px;
	width: 80px;
	transform: rotate(-90deg);
}
.dropdown-button{
	background-color: transparent;
	border-color: transparent;
}
.fa-ellipsis-v{
	color: black;
	position: inherit;
}

.more_music_bckg{
	box-sizing: border-box;
	display: block;
}
.more_music_bckg > a{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.more_music{
	background-color: #ddd;
	margin: 5px -5px 0 5px;
}
.more-text {
	margin: 0 auto;
}

.more-img {
	width: 50%;
	margin: 20px auto;
}



#loading {
	width: 28px;
	height: 28px;
	margin: 30px auto;
	position: relative;
	top: 7px;
	left: 10px;
	transform: rotate(90deg);
}
.outer-shadow,
.inner-shadow {
	z-index: 4;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}
.inner-shadow {
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 100%;
	background-color: #ffffff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}
.hold {
	position: absolute;
	width: 100%;
	height: 100%;
	clip: rect(0, 28px, 28px, 14px);
	border-radius: 100%;
	background-color: #fff;
}
.fill,
.dot span {
	background-color: var(--animation-color);
}
.fill {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	clip: rect(0, 14px, 28px, 0);
}
.left .fill {
	z-index: 1;
	-webkit-animation: left 15s linear;
	-moz-animation: left 15s linear;
	animation: left 15s linear both;
}
@keyframes left {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
@-webkit-keyframes left {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
	}
}
.right {
	z-index: 3;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.right .fill {
	z-index: 3;
	-webkit-animation: right 15s linear;
	-moz-animation: right 15s linear;
	animation: right 15s linear both;
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
}
@keyframes right {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
@-webkit-keyframes right {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
.inner-shadow img {
	margin-left: 8px;
	margin-top: 7px;
}

.cover_image_play_container:hover > .svg_circle{
	display: block;
}


/*Animation bouton play => pré-écoute*/
/*#myCircle {
	fill: white;
	stroke: var(--animation-color);
	stroke-width: 4px;
	stroke-dasharray: 250px;
	stroke-dashoffset: 1000px;
	animation: rotate 1s linear;
}

@keyframes rotate {
	to {
		stroke-dashoffset: 0;
	}
	}*/
